@import '../../styles/_mixins.scss';
@import '../../styles/variables';

.header {
  border-bottom: 1px solid black;
  width: 100%;

  &#dark {
    background-color: $background_color_night;
  };

  &#light {
    background-color: $background_color_day;
  };

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 0.8rem;

    gap: 10px;

    margin: 0;
    padding: 15px;

    @include onDesktop {
      flex-direction: row;
      padding: 20px;
      height: 10vh;
    } 
  }

  &__buttons {
    display: flex;
    
    gap: 20px;
  }

  &__modal__name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

table {
  border: 1px solid #ccc;  /* граница всей таблицы */
}
tr {
  border: 1px solid #ccc;
  text-align: center;  /* границы между строками */
}
td, th {
  border: 1px solid #ccc;
  letter-spacing: 1px;  /* границы между столбцами */
}